/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 2000px;
  height: 1000px;
  background: 
    linear-gradient(to top, rgba(196,190,188,0.6) 50%, rgba(240,225,221,0.6) 50%), 
    url('');
  background-position: center;
  background-size: cover;
}

.navbar {
  width: 1200px;
  height: 65px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  margin-left: 40px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.menu ul li a:hover {
  color: beige;
}
